.footer{
    & ul{
        list-style-type: none;
    }
    background-color: black;
    padding: 20px;
    color: white;
    &__heading{
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__link{
        color: white;
        text-decoration: none;
    }
    li{
        padding-top: 3px;
        padding-bottom: 3px;
    }

    i{
        margin-right: 10px;
        width: 20px;
    }
}