.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo{
        width: 160px;
        margin: 20px;
    }
    &__place{
        padding: 10px;
        width: 100%;
        text-align: center;
        background-color: $color-lightgrey;
        i{
            margin-right: 10px;
        }
    }

}