* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  max-width: 1980px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  width: 160px;
  margin: 20px;
}
.header__place {
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: #eaeaea;
}
.header__place i {
  margin-right: 10px;
}

.nav__link {
  color: white;
  text-decoration: none;
}

.footer {
  background-color: black;
  padding: 20px;
  color: white;
}
.footer ul {
  list-style-type: none;
}
.footer__heading {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer li {
  padding-top: 3px;
  padding-bottom: 3px;
}
.footer i {
  margin-right: 10px;
  width: 20px;
}

.description {
  background-color: #f6f6f6;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description__text {
  margin-top: 10px;
  margin-bottom: 10px;
}
.description__text--compact {
  margin-left: 50px;
  margin-right: 50px;
}

.fonctionnement {
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 40px;
  counter-reset: item;
}
.fonctionnement__heading {
  margin-bottom: 30px;
}
.fonctionnement__instruction {
  height: 70px;
  padding-top: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 300ms;
  list-style-type: none;
}
.fonctionnement__instruction i {
  color: grey;
  margin-left: 10px;
  margin-right: 20px;
}
.fonctionnement__instruction:hover {
  background-color: #f2eafb;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.fonctionnement__instruction:hover i {
  color: #9356DC;
}
.fonctionnement__instruction::before {
  display: inline-block;
  height: 22px;
  width: 22px;
  padding-top: 2px;
  position: relative;
  text-align: center;
  left: -10px;
  background-color: #9356DC;
  border-radius: 30px;
  content: counter(item) "";
  counter-increment: item;
  color: white;
}

.restaurants {
  background-color: #f6f6f6;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}
.restaurants__heading {
  padding-top: 40px;
  padding-bottom: 20px;
}
.restaurants .heart {
  position: absolute;
  right: 15px;
  margin-top: 220px;
  font-size: 28px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  height: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 300ms;
}
.card:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}
.card__img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
}
.card__new {
  position: absolute;
  right: 30px;
  margin-top: 20px;
  padding: 5px 13px;
  background-color: #99E2D0;
  color: #278870;
}
.card__text {
  margin-left: 10px;
  margin-top: 10px;
}

@keyframes heart {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }
  10% {
    transform: scale(0);
    opacity: 0.3;
  }
  35% {
    transform: scale(0.2);
    opacity: 0.4;
  }
  50% {
    transform: scale(0.4);
    opacity: 0.5;
  }
  55% {
    transform: scale(0.7);
    opacity: 0.6;
  }
  75% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}
.heart__full {
  position: relative;
  right: 35px;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: heart 1300ms both paused infinite;
}
.heart__full:hover {
  animation-play-state: running;
}
.heart__empty:hover + .heart__full {
  animation-play-state: running;
}

.btn {
  background: linear-gradient(#FF79DA, 60%, #9356DC);
  border-radius: 50px;
  height: 50px;
  width: 220px;
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 300ms;
}
.btn__text {
  text-align: center;
  color: white;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    left: 10%;
  }
  100% {
    rotate: 5turn;
    opacity: 0;
    left: 100%;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  99% {
    left: 0;
  }
  100% {
    opacity: 0;
    left: 100%;
  }
}
.accueil::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: white;
  opacity: 0;
  animation: disappear 440ms 1960ms both;
}
.accueil::after {
  content: "";
  background-position: center;
  position: fixed;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 10%;
  z-index: 1;
  background: radial-gradient(circle at 50% 0, #9356dc, rgba(147, 86, 220, 0) 70.71%), radial-gradient(circle at 6.7% 75%, #ff79da, rgba(255, 121, 218, 0) 70.71%), radial-gradient(circle at 93.3% 75%, #99e2d0, rgba(153, 226, 208, 0) 70.71%);
  opacity: 0;
  border-radius: 100%;
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  animation: spinner linear 2400ms forwards;
}

/*# sourceMappingURL=style.css.map */
