@keyframes spinner{
    0%{
        opacity: 1;
    }

    80%{
        opacity: 1;
    }

    99%{
        left: 10%;
    }
    100%{
        rotate: 5turn;
        opacity: 0;
        left: 100%;
    }
}

@keyframes disappear{
    0%{
        opacity: 1;
    }

    99%{
        left: 0;
    }
    100%{
        opacity: 0;
        left: 100%;
    }
}

.accueil{
    &::before{

        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: white;
        opacity: 0;
    
        animation: disappear 440ms 1960ms both;
    }
    &::after{
        
    content: "";
    background-position: center;
    position: fixed;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 10%;
    z-index: 1;
    background: 
        radial-gradient(circle at 50% 0, rgba($color-prim,1), rgba($color-prim,0) 70.71%),
        radial-gradient(circle at 6.7% 75%, rgba($color-seco,1), rgba($color-seco,0) 70.71%),
        radial-gradient(circle at 93.3% 75%, rgba($color-tert,1), rgba($color-tert,0) 70.71%);
    opacity: 0;
    border-radius: 100%;
    width: 80%;
    height: 0;
    padding-bottom: 80%;

    animation: spinner linear 2400ms forwards;
    }
}
