$color-prim: #9356DC;
$color-seco: #FF79DA;
$color-tert: #99E2D0;
$color-lightgrey: #eaeaea;
$color-lightergrey: #f6f6f6;
$breakpoints: (
  tablet: 768px,
  desktop: 992px
);
$animation-duration: 600ms;